.mnDiv{
    margin-top: 94px;
    display: flex;
    flex-direction: column ;
    
}
.mnHdr{
    font-size: 12px;
}
.bannerImg{
    width: 102%;
    margin-left: -10px;
}
.photoContainer{
justify-self: center;
margin:0 auto;
    width: 325px;
    height: 365px;
    border: 20px solid black;
    border-radius: 10px;
    box-shadow: 5px 2.5px grey;
}

.pfolioPhoto{
    margin-left: .2px;
    margin-top: -.5px;
    width: 325px;
    height: 365px;
}
.mnBdyTpLftP{
    text-align: left;
    padding: 15px;
}
ol{
    text-align: left;
}
.photoSkills{
    margin: 0 13px;

    /* justify-self: center; */
    /* align-self: center; */
    /* align-content: center; */
    justify-content: center;
    width: 90%;
}
.projP{
    text-align: left;
    padding: 15px;
}
.tech{
    margin-top: -25px;
}
.freeCont{
    display: flex;
    flex-direction: column;
    padding: 15px;}
.imgFree{
    width: 100%;
    
}

.up20{
    margin-top: -20px;
}

@media screen and (min-width: 768px) {
.mnDiv{
    margin-top: 80px;
}
.mnBdy{
    padding: 15px;
}
.bannerImg{
    width: 100.5%;
    height: 250px;
    margin-left: -10px;
}
.mnBdyTp{
    display: flex;
    flex-direction: row;
}
.mnBdyTpRt{
    padding: 25px;
}
.freeCont{
    display: flex;
    flex-direction: row;
 /* padding: 15px; */
 
}
.freeContTp{
    margin: 0 auto;
}
.freeContBt{
    margin: 0 auto;
}
}